{%  extends 'dashboard/dashboard.html' %}
{%  load crispy_forms_tags %}
{%  block dashboard_content %}
    <div class="row">
        <div class="col-md-10">
            <form action="." method="post" enctype="multipart/form-data">
             {% csrf_token %}
            {{ video_form  | crispy }}
                <!-- fileupload form -->
                {{ video_file_upload_form | crispy }}
              {% include "license_agreement.html" %}
              <input type="submit" value="Create Video" class="btn ole-btn">
            </form>
            <br>

        </div>
    </div>
{%  endblock dashboard_content %}
