{% load static %}
{% load i18n %}
{% block style %}
<style>
.paragraph-font{
  font-weight:normal!important;
  font-size:inherit!important;
}

#submitButton{
  margin-top:1em;
}
label{
  font-weight:normal!important;
}
textarea{
  line-height: 3.25!important;
}
input{
  line-height: 1.5!important;
}

#olefooter a{
 white-space: nowrap;
 display:inline;

}
#olefooter a:link,
#olefooter a:visited {
    display: inline!important;

}

.display-left{
  display:block;
  float:left;
  margin-right:20px;
}
</style>

{% endblock %}
<!-- footer navigation -->
<footer style="padding-top:20px;">
     <!-- footer starts here -->
      <div id="olefooter">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-12">
              <h6>{% trans "E-PUSTAKALAYA" %}</h6>
              <p>{% trans "E-Pustakalaya is an education-focused digital library containing full-text documents, images, videos and audio files that can be accessed through an intranet or the internet. The user can either read documents, view videos, and listen to audio clips directly from the E-library server or she can download these materials to her personal computer and view them later." %}</p>
            </div>
            <div class="col-md-2 col-sm-6 col-6">
              <h6>{% trans "SUPPORT" %}</h6>
              <ul class="">
                  <!--Commented This for production uncomment later-->
                 {% comment %}
                  <li>
                      <a href="#">{% trans "Offline Access" %}</a>
                  </li>
                {% endcomment %}
                  <li>
                      <a href="{% url 'about' %}">{% trans "About" %}</a>
                  </li>
                  <li>
                      <a href="{% url 'feedback' %}">{% trans "Feedback" %}</a>
                  </li>
                  <li>
                      <a href="{% url 'help' %}">{% trans "Help" %}</a>
                  </li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-6 col-6">
              <h6>{% trans "CONTACT US" %}</h6>
              <ul class="">
                  <li>
                      {% trans "Sanepa, Lalitpur" %}
                  </li>
                  <li>
                      {% trans "+977-1-5544441" %}
                  </li>
                  <li>
                      info@olenepal.org
                  </li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-6 col-6">
              <h6>{% trans "FOLLOW US" %}</h6>
              <a href="https://twitter.com/olenepal/" target="_blank"><img class="social-ico" src="{%  static 'images/footer/twitter-ico.png' %}" alt="twitter" /></a>
              <a href="https://www.facebook.com/olenepal/" target="_blank" ><img class="social-ico" src="{%  static 'images/footer/facebook-logo.png' %}" alt="facebook" /></a>

            </div>
            <!--Commented This for production uncomment later-->
            {% comment %}
            <div class="col-md-2 col-sm-6 col-6">
              <h6>{% trans "DOWNLOAD APP" %}</h6>
              <a class="a-android pt-4 pb-1" href="https://play.google.com/store/apps/details?id=com.ole.epustakalaya" target="_blank"><img class="social-ico" src="{%  static 'images/footer/android-logo.png' %}" alt="android" /></a>
            </div>
            {% endcomment %}

          </div>
          <div class="row">
            <div class="col-md-2 col-sm-6 col-12">
              <h6>{% trans "DEVELOPED AND MAINTAINED BY" %}</h6>
              <a href="http://www.olenepal.org/" target="_blank">
                <img class="footer-logo" src="{%  static 'images/footer/ole_logo.png' %}" alt="OLE Nepal" />
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
              <h6>{% trans "MAJOR PARTNERS" %}</h6>

              <a href="http://www.idrf.org/" target="_blank" title="IDRF" class="display-left ">
                <p>(2017)</p>
                <img class="footer-logo" src="{%  static 'images/footer/idrf_new_logo.png' %}" alt="OLE Nepal" />
              </a>
              <a  href="https://www.maitritrust.org.uk/" target="_blank" title="Maitri Trust" class="display-left">
               <p>(2013-2015)</p>
               <img class="footer-logo" src="{%  static 'images/footer/maitri-trust.png' %}" alt="OLE Nepal" />
             </a>
             <a href="http://www.nepallibrary.org/" target="_blank" title="Nepal Library Foundation" class="display-left">
               <p>(2009-2012)</p>
               <img class="footer-logo" src="{%  static 'images/footer/nepal-library-foundation.png' %}" alt="OLE Nepal" />
             </a>

            </div>
            <div class="col-md-6 col-sm-12 col-12">
              <h6>{% trans "CONTENT CONTRIBUTION"%}</h6>
              <a href="https://www.britishcouncil.org.np/" target="_blank"><img class="concon-logo" src="{%  static 'images/footer/bc.png' %}" alt="OLE Nepal" /></a>
              <a href="http://www.digitalhimalaya.com/" target="_blank"><img class="concon-logo" src="{%  static 'images/footer/DH_logo_small.png' %}" alt="Digital Himalaya" /></a>
              <a href="http://www.e-learningforkids.org/" target="_blank"><img class="concon-logo" src="{%  static 'images/footer/e-learning-for-kids.png' %}" alt="E-Learning for Kids" /></a>
              <a href="http://gorkhapatraonline.com/" target="_blank"><img class="concon-logo" src="{%  static 'images/footer/gorkhapatra.png' %}" alt="Madanpuraskar" title="Madan Puraskar" /></a>
              <a href="http://madanpuraskar.org/" target="_blank"><img class="concon-logo" src="{%  static 'images/footer/madanpuraskar.png' %}" alt="Gorkhapatra Sansthan" /></a>
              <a href="http://nepalacademy.org.np" target="_blank"><img class="concon-logo" src="{%  static 'images/footer/nepalacademy.png' %}" alt="Nepal academy" /></a>
              <a href="http://onlinesahitya.com/content/nepalese-society-childrens-literature-neschil" target="_blank"><img class="concon-logo" src="{%  static 'images/footer/neschil.png' %}" alt="Neschil" /></a>
              <a href="https://practicalaction.org/nepal" target="_blank"><img class="concon-logo" src="{%  static 'images/footer/practical-action-logo-highres-300dpi.png' %}" alt="Pritical Action" /></a>
              <a href="https://www.roomtoread.org/" target="_blank"><img class="concon-logo" src="{%  static 'images/footer/roomtoread.png' %}" alt="Room to Read" /></a>
              <a href="http://rbf.org.np/" target="_blank"><img class="concon-logo" src="{%  static 'images/footer/rtf.png' %}" alt="Rato Bangla Foundation" /></a>
              <a href="http://www.savethechildren.org" target="_blank"><img class="concon-logo" src="{%  static 'images/footer/stc.png' %}" alt="Save The Children" /></a>
              <a href="http://nepal.worlded.org/" target="_blank"><img class="concon-logo" src="{%  static 'images/footer/xworld.png' %}" alt="World Education Nepal" /></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-12 footcc">
              <img src="{%  static 'images/footer/creative-commons.png' %}" alt="OLE Nepal" />
            {% trans "Unless explicitly mentioned, all the contents on this website are licensed under <a href='https://creativecommons.org/licenses/by-nc-nd/3.0/' target='_blank'>Creative Commons </a>" %}
            </div>
          </div>


        </div>
      </div>

</footer>

<!--These tow div close is navbar.html page, closing of class="content" and "content-inside"-->
 </div>
</div>


