{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load ratings %}
{% load pustakalaya_filters %}
{% load hitcount_tags %}
{% load crispy_forms_tags %}

<!-- override some css -->
{% block style %}
    {{ block.super }}

{% endblock style %}

{% block content %}

{% if object.published == "yes" %}
<!--REMOVE THIS LATER-->
 <input type="hidden" name="content_type" value="document"/>
 <input type="hidden" name="content_id" value="{{ object.pk }}">
 {% if user %}
  <input type="hidden" name="user" value="{{ user }}">
  {% endif %}

<!--End of remove this later-->



<div class="main-contain">
  <div class="container">
    <div class="row" style="margin: 15px 0px;">
      <div class="col-md-12" style="padding: 0px;">

        {% if object.collections.all%}
        <span class="container-breadcrum bold">
          <!-- Bread crums -->
          {% for collection in object.collections.all %}
          {% if forloop.first %}
          <a href="/community/{{collection.community_name.split|join:"-" | transtolocal }}" class="text-capitalize">{{ collection.community_name|transtolocal  }}</a>&emsp;

          <span style="color: #00838F;"> <i class="fa fa-caret-right"></i></span>&emsp;
          {% endif %}

          <a class="text-capitalize"
          href=' /search/?q=&form-filter={"collections":["{{collection.collection_name}}"]}'>
          {{ collection.collection_name | transtolocal }}
        </a>
          {%  if not forloop.last %} ,{%  endif %}
          {% endfor %}
        </span>
        {% endif %}

      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3 det-img-cont">
            {% if object.thumbnail  %}
                  <img  src="{{ MEDIA_URL }}{{ object.thumbnail }}"
                         alt="{{ object.title }}" title="{{ object.title }}">
            {% else %}
                  <img src="{% static 'images_new/book_thumnail.png' %}"
                         alt="{{ object.title }}" title="{{ object.title }}">
            {% endif %}

         {%  if request.user.is_superuser %}
           <div class="btn btn-sm">
            <a href="{{ object.get_admin_url }}" class="btn btn-sm btn-secondary">{%  trans "Edit" %}</a>
           </div>
       {%  endif %}

        <div class="ratings-container">
        {% for document in object.documentfileupload_set.all %}
          <!--" " this double space is needed to handle empty file upload-->
          {% if  document.upload != " " %}
          <p>{% trans "File size: " %} {{ document.upload.size | file_size_format }}</p>
          {% endif %}
        {% endfor %}

          {% if request.user.is_authenticated %}
          <p>Rate this book:</p>
          <p>{% ratings object %}</p>
          {% endif %}

        </div>

       <!--Featured unfeatured button-->
        {% if request.user.is_superuser %}
         <p id="featured_item">
        {% if object.featured == "yes"%}
          <button type="button" class="btn ole-btn-trans det-fav-added" value="{{object.pk }}" id="featured_set"><i class="fa fa-check-circle"></i>{% trans "Unfeature" %}</button>
        {% else %}
          <button type="button" class="btn ole-btn-trans " value="{{object.pk }}" id="featured_not_set">{% trans "Feature" %}</button>
        {% endif %}
         </p>
        {% endif %}

        <!--End: Featured unfeatured button-->


        <!--Favourite button-->
        <!--<button type="button" class="btn ole-btn-trans" style="margin-bottom: 1rem;"><i class="fa fa-heart det-fav-active"></i> Add to Favorite</button>-->

        <p id="favourite_hanging_place">
          {% if  request.user.is_authenticated %}
           {% if favourite_data.first.user != "" %}

            {% if request.user == favourite_data.first.user %}
             <button type="button" class="btn ole-btn-trans det-fav-added" value="{{object.pk }}" id="added_to_favourite"><i class="fa fa-check-circle"></i>{% trans "Added to favourite" %}</button>

            {% else %}
            <button type="button" value="{{ object.pk  }}"class="btn ole-btn-trans add_to_favourite" ><i class="fa fa-heart det-fav-active"></i> {% trans "Add to favourite" %} </button>

            {% endif %}
        {% else %}
        <button type="button" value="{{ object.pk  }}" class="btn ole-btn-trans add_to_favourite"><i class="fa fa-heart det-fav-active"></i> {% trans "Add to favourite" %} </button>

        {% endif %}
          {% endif %}
          <span id="add_to_fav" style="display:none;">{% trans "Add to favourite" %}</span>
          <span id="added_to_fav" style="display:none;">{% trans "Added to favourite" %}</span>
        </p>

        <!--End Favourite button-->


        <!--Review code starts here-->
        <!--Review btn for model button-->
        <button type="button" class="btn ole-btn-trans" id="review_btn_real" style="margin-bottom: 1rem;"><i class="fa fa-comment det-rev-active"></i> {% trans "Leave a Review" %}</button>
        <button type="button" class="btn ole-btn-trans" id="review_btn_trigger" data-toggle="modal" data-target="#myModal" hidden >review</button>
        <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <!--<form>-->
              <div class="modal-header">
                <h4 class="modal-title">Write a Review</h4>
                <button type="button" id="close_model_box" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                    <label for="pwd">Title:</label>
                    <input type="text" class="form-control" id="pwd1" name="title_input" maxlength="255" autofocus>
                    <label for="comment">Message:</label>
                    <textarea type="text" name="input" class="form-control bg-white" placeholder="Your review message"></textarea>

                  </div>
              </div>
              <div class="modal-footer">
               <button type="button" value="Submit" id="submitButton" class ="btn  ole-btn"  >Add your review</button>
              </div>
            <!--</form>-->
            </div>
          </div>
        </div>



        <!-- Different models used in this document-->
        <!--User info model-->

        <!--User info  Modal -->
          <button type="button" style="display: none;"  value="Submit" id="info_message_display"  data-toggle="modal" data-target="#myModalUserInfo" ></button>
          <div class="modal fade" id="myModalUserInfo" role="dialog">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                  <h4 class="modal-title">{% trans "Information" %}</h4>
                </div>
                <div class="modal-body">
                  <p id="information_message_p_tag">{% trans "Info message" %}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn  ole-btn" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
              </div>
            </div>
          </div>

        <!--close of user info model-->

        <!-- Edit review model  -->
        <button type="button" id="edit_hidden_btn"  data-toggle="modal" data-target="#myModalForEdit" style="display:none"></button>
        <div class="modal fade" id="myModalForEdit" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <!--<form>-->
              <div class="modal-header">
                <h4 class="modal-title">Edit Review</h4>
                <!--<button type="button" id="close_model_box" class="close" data-dismiss="modal">&times;</button>-->
              </div>
              <div class="modal-body">
                  <div class="form-group">
                    <input type="hidden" id="edited_message_id" value="" >
                    <label for="pwdEdit">Title:</label>
                    <input type="text" class="form-control" id="edited_title_input" name="edited_title_input" maxlength="255" autofocus>
                    <label for="commentEdit">Message:</label>
                    <textarea type="text" name="edited_message_input" id="edited_message_input" class="form-control bg-white" placeholder="Your review message"></textarea>

                  </div>
              </div>
              <div class="modal-footer">
                <button type="button"  class="btn  ole-btn" id="edited_cancel_button" data-dismiss="modal">{% trans "Cancel" %}</button>
               <button type="button" value="Submit" id="submitButtonForEdit" class ="btn  ole-btn" onclick="sendButtonClick()" >{% trans "Send" %}</button>
              </div>
            <!--</form>-->
            </div>
          </div>
        </div>

        <!--End Edit review model  -->

        <!--Yes no   Modal -->
          <button type="button" style="display: none;"  value="Submit" id="yes_no_message_display"  data-toggle="modal" data-target="#myModalYesNo" ></button>
          <div class="modal fade" id="myModalYesNo" role="dialog">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <input type="hidden" id="message_delete_id" value="">
                  <h4 class="modal-title">Information</h4>
                </div>
                <div class="modal-body">
                  <p id="yes_no_message_p_tag">{% trans "Are you sure you want to delete this message?" %}</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn  ole-btn" onclick="DeleteButtonYes()"  data-dismiss="modal">{% trans "Yes" %}</button>
                <button type="button" class="btn  ole-btn" data-dismiss="modal">{% trans "No" %}</button>
                </div>
              </div>
            </div>
          </div>

        <!--close of user info model-->

        <!--End of  Different models used in this document-->
        <!--End of revew code starts here-->



      </div>
      <div class="col-md-9">
        <h5 id="det-book-title" class="">{{ object.title }}</h5>
        {% if object.document_authors.all %}
        <p>By:
          <span>
            {% for author in object.document_authors.all %}
            <a  href="{% url 'author:author_detail' author.getname|slugify_unicode author.pk %}" class="text-capitalize" >{{ author }}</a>
             {%  if not forloop.last %},{%  endif %}
            {% endfor %}
          </span>

        </p>
        {% endif %}


        <div class="_1dlNCg"><div class="niH0FQ">
          <span id="productRating_undefined_MOBFF5ZG7HCKHJCS_" class="_2_KrJI">
            <div id="ole-rating-avg">{{ rating_average }} ★</div>
          </span><span class="_38sUEc">
            <span><span id="ole-rating-count">{{ rating_total }} {% trans "Ratings" %}&nbsp;</span><span>{{ hitcount.total_hits }} {% trans "Views" %}&nbsp;</span><span class="_1VpSqZ">&amp;</span><span>&nbsp;{{ total_review_count }} {% trans "Reviews" %}</span></span>
          </span>
        </div>
      </div>


        {% for document in object.documentfileupload_set.all %}
        {% if document.upload != " "%}
          <a href="{{ MEDIA_URL }}{{ document.upload }}" target="_blank" title='{% trans "File size: " %}  {{ document.upload.size | file_size_format }}'>
            <button type="button" class="btn ole-btn">
          {% trans 'Read Book ' %}
          </button>
          </a>
        {% endif %}
        {% endfor %}


      <br>
      <br>


      <p>
        {% if  object.abstract %}
          {{ object.abstract }}
        {% endif %}

      </p>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-target="#details" role="tab" data-toggle="tab">{% trans "Details" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-target="#reviews"  role="tab" data-toggle="tab">{% trans "Reviews" %}</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active in" id="details">
          <div class="table-responsive">
            <table class="table">
              <thead>
              </thead>
              <tbody>


               {% if  object.document_authors.all %}
                  <tr>
                    <th scope="col">{% trans "Author(s)" %}:</th>
                    <td class="text-capitalize">
                      {% for author in object.document_authors.all %}
                         <a href="{% url 'author:author_detail' author.getname|slugify_unicode author.pk %}" class="text-capitalize"> {{  author }}</a>
                        {%  if not forloop.last %}
                                  ,
                        {%  endif %}
                      {% endfor %}
                    </td>
                  </tr>
               {% endif %}

                <!-- Illustrator section -->
               {% if  object.document_illustrators.all %}
                <tr>
                  <th scope="col">{% trans "Illustrator:" %}</th>
                  <td class="text-capitalize">
                    {% for illustrator in object.document_illustrators.all %}
                      {{ illustrator }}
                      {%  if not forloop.last %}
                                ,
                      {%  endif %}
                    {% endfor %}
                  </td>
                </tr>
               {% endif %}


              <!-- editor section -->
               {% if  object.document_editors.all %}
                <tr>
                  <th scope="col">{% trans "Editor(s):" %}</th>
                  <td class="text-capitalize">{% for editor in object.document_editors.all %}
                        {{ editor }}
                      {%  if not forloop.last %}
                                ,
                      {%  endif %}
                    {% endfor %}
                  </td>
                </tr>
               {% endif %}



               <!-- editor section -->
               {% if  object.document_translator.all %}
                <tr>
                  <th scope="col">{% trans "Translator(s):" %}</th>
                  <td class="text-capitalize">
                    {% for translator in object.document_translator.all %}
                        {{ translator }}
                      {%  if not forloop.last %}
                                ,
                      {%  endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endif %}




              {% if  object.publisher.all %}
               <tr>
                  <th scope="col">{% trans "Publisher:" %}</th>
                  <td class="text-capitalize">
                    {% for publisher in object.publisher.all %}
                        {{ publisher.publisher_name }}
                      {%  if not forloop.last %}
                                ,
                      {%  endif %}
                     {% endfor %}
                  </td>
                </tr>
              {% endif %}


               <!-- place of publication -->
                {% if  object.place_of_publication %}
               <tr>
                  <th scope="col">{% trans "Place of Publication:" %}</th>
                  <td class="text-capitalize">{{ object.place_of_publication }}</td>
                </tr>
               {% endif %}


                <!-- Publication year -->
                {% if  object.publication_year_on_text %}
               <tr>
                  <th scope="col">{% trans "Publication year:" %}</th>
                  <td class="text-capitalize">{{ object.publication_year_on_text }}</td>
                </tr>
               {% endif %}


               <!-- Available year -->
               {% if  object.year_of_available_on_text %}
               <tr>
                  <th scope="col">{% trans "Available year:" %}</th>
                  <td class="text-capitalize"> {{ object.year_of_available_on_text }}</td>
                </tr>
               {% endif %}


               <!-- Keywords -->
                {%  if object.keywords.all  %}
               <tr>
                  <th scope="col">{% trans "Keywords:" %}</th>
                  <td class="text-capitalize">
                    {% for keyword in object.keywords.all %}
                    <a href='/search/?q=&form-filter={"keywords":["{{keyword.keyword}}"]}' >
                        {{ keyword.keyword| transtolocal }}&nbsp;{%  if not forloop.last %}
                          ,
                      {%  endif %}

                    </a>
                   {% endfor %}
                </td>
                </tr>
                {%  endif  %}


              <!-- License type -->
              {% if  object.license.license %}
               <tr>
                  <th scope="col">{% trans "License type:" %}</th>
                  <td class="text-capitalize">{{ object.license.license }}</td>
                </tr>
               {%  endif %}


               {%  if  object.document_series  %}
                <!-- document series -->
               <tr>
                  <th scope="col">{% trans "Series:" %}</th>
                  <td class="text-capitalize">{{ object.document_series }}</td>
                </tr>
               {%  endif %}

               <!-- document edition -->
                {% if  object.edition %}
               <tr>
                  <th scope="col">{% trans "Edition:" %}</th>
                  <td class="text-capitalize">{{ object.edition }}</td>
                </tr>
               {% endif %}

               <!-- document volume -->
                  {% if  object.volume %}
               <tr>
                  <th scope="col">{% trans "Volume:" %}</th>
                  <td>{{ object.volume }}</td>
                </tr>
                {% endif %}

               <!-- isbn -->
                <!-- document isb -->
               {% if  object.documentidentifier.identifier_id %}
               <tr>
                  <th scope="col">{{ object.documentidentifier.identifier_type }}:</th>
                  <td class="text-capitalize">{{ object.documentidentifier.identifier_id }}</td>
                </tr>
               {% endif %}


                <!-- total page -->
                {% if  object.document_total_page %}
                {% if object.document_total_page != "0"%}
                <tr>
                  <th scope="col">{% trans "Total pages" %}:</th>
                  <td class="text-capitalize">{{ object.document_total_page }}</td>
                </tr>
                {% endif %}
                {% endif %}


               <!-- Language -->
                {% if object.languages.all %}
                <tr>
                  <th scope="col">{% trans "Language" %}:</th>
                  <td class="text-capitalize">{% for language in object.languages.all %}
                        {{ language }}
                      {%  if not forloop.last %},{%  endif %}
                    {% endfor %}</td>
                </tr>
               {% endif %}

              <!-- Education level -->
                {% if  object.education_levels.all %}
               <tr>
                  <th scope="col">{% trans "Education Level" %}:</th>
                  <td class="text-capitalize">
                    {% for education_level in object.education_levels.all %}
                        {{ education_level| transtolocal }}
                        {%  if not forloop.last %}
                                ,
                            {%  endif %}

                    {% endfor %}
                  </td>
                </tr>
               {% endif %}

              <!-- Interactivity -->

              {%  if  object.document_interactivity  %}
              {%  if  object.document_interactivity != "NA"     %}
               <tr>
                  <th scope="col">{% trans "Interactivity" %}:</th>
                  <td class="text-capitalize">{{ object.document_interactivity }}</td>
                </tr>
               {%  endif %}
               {%  endif %}



              <!-- sponsor -->
              {% if  object.sponsors.all %}
               <tr>
                  <th scope="col">{% trans "Sponsors:" %}</th>
                  <td class="text-capitalize">
                    {% for sponsor in object.sponsors.all %}
                        {{ sponsor }}
                        {%  if not forloop.last %}
                                ,
                            {%  endif %}

                    {% endfor %}
                  </td>
                </tr>
              {% endif %}


                 <!-- Rights -->
              {% if  object.custom_license %}
               <tr>
                  <th scope="col">{% trans "Rights:" %}</th>
                  <td class="text-capitalize">{{ object.custom_license }}</td>
                </tr>
               {% endif %}



               <!-- additional_note -->
              {% if  object.additional_note %}
               <tr>
                  <th scope="col">{% trans "Additional note:" %}</th>
                  <td class="text-capitalize">{{ object.additional_note }}</td>
                </tr>
               {% endif %}


               <!-- Description -->
              {% if  object.description %}
                <tr>
                  <th scope="col">{% trans "Description:" %}</th>
                  <td class="text-capitalize">{{ object.description }}</td>
                </tr>
              {% endif %}


              </tbody>
            </table>


            <!-- link_name and link description -->
             {% if object.documentlinkinfo_set.all %}
             <hr>
            <h5>{% trans "Related Links" %}</h5>
              <table class="table">
                <tbody>


               {% for link in  object.documentlinkinfo_set.all %}
               <tr>
                  <th scope="col">{% trans "Link:" %}</th>
                  <td><a href="{{ link.link_name}}" target="_blank">{{ link.link_name}}</a></td>
                </tr>

                {% if  link.link_description  %}
               <tr>
                  <th scope="col">{% trans "Link Description:" %}</th>
                  <td class="text-capitalize">{{ link.link_description }}</td>
                </tr>
               {% endif %}

               {% endfor %}

                </tbody>
              </table>
            {% endif %}









          </div>
        </div>


        <!--**************Start review comment*****************-->
        <div role="tabpanel" class="tab-pane fade" id="reviews">

          {% if data_review %}
          {% for v in data_review %}

            {% if v.published == True %}
                <div class="review-container" id="comment_{{ v.pk }}">
                  <!--This one is for published-->
                  <br>
                  <h5 id="posted_title_{{ v.pk }}">{{ v.title }}</h5>
                  <p>By: <span>{{  v.user }}</span></p>
                  <p id="posted_message_{{ v.pk }}">{{ v.post }}</p>
                    {% if user == v.user %}

                   <button type="button" value="{{ v.pk }}" id="{{ v.pk }}"  class ="btn btn-sm btn-primary font-weight-bold EditComment" >{% trans "Edit" %}</button>
                   <button type="button" value="{{ v.pk }}"  class ="btn btn-sm btn-warning font-weight-bold DeleteComment">{% trans "Delete" %}</button>

                    {% else %}

                      <!--<p>Welcome,  user. Please log in.</p>-->

                    {% endif %}
              <hr>
             </div>
            {% else %}
                   {% if user == v.user %}
                        <!--This one is for unpublished-->
                           <div class="review-container" id="comment_{{ v.pk }}" >
                              <br>
                              <h5 id="posted_title_{{ v.pk }}">{{ v.title }}</h5>
                              <p>By: <span>{{  v.user }}</span></p>
                              <p id="posted_message_{{ v.pk }}">{{ v.post }}</p>
                              <p>{% trans "review status is unpublished" %}</p>
                                 <button type="button" value="{{ v.pk }}" id="{{ v.pk }}"  class ="btn btn-sm btn-primary font-weight-bold EditComment" >{% trans "Edit" %}</button>
                                 <button type="button" value="{{ v.pk }}"  class ="btn btn-sm btn-warning font-weight-bold DeleteComment">{% trans "Delete" %}</button>
                           <hr>
                           </div>
                   {% endif %}
             {% endif %}

           {% endfor %}



          {% elif paginated_data %}
                        <!--Pagination links starts here-->

              {% for v in paginated_data %}
                        {% if v.published == True %}
                            <div class="review-container" id="comment_{{ v.pk }}">
                              <!--This one is for published-->
                              <br>
                              <h5 id="posted_title_{{ v.pk }}">{{ v.title }}</h5>
                              <p>By: <span>{{  v.user }}</span></p>
                              <p id="posted_message_{{ v.pk }}">{{ v.post }}</p>
                                {% if user == v.user %}

                               <button type="button" value="{{ v.pk }}" id="{{ v.pk }}"  class ="btn btn-sm btn-primary font-weight-bold EditComment" >{% trans "Edit" %}</button>
                               <button type="button" value="{{ v.pk }}"  class ="btn btn-sm btn-warning font-weight-bold DeleteComment">{% trans "Delete" %}</button>

                                {% else %}

                                  <!--<p>Welcome,  user. Please log in.</p>-->

                                {% endif %}
                          <hr>
                         </div>
                        {% else %}
                               {% if user == v.user %}
                                    <!--This one is for unpublished-->
                                       <div class="review-container" id="comment_{{ v.pk }}" >
                                          <br>
                                          <h5 id="posted_title_{{ v.pk }}">{{ v.title }}</h5>
                                          <p>By: <span>{{  v.user }}</span></p>
                                          <p id="posted_message_{{ v.pk }}">{{ v.post }}</p>
                                          <p>{% trans "review status is unpublished" %}</p>
                                             <button type="button" value="{{ v.pk }}" id="{{ v.pk }}"  class ="btn btn-sm btn-primary font-weight-bold EditComment" >{% trans "Edit" %}</button>
                                             <button type="button" value="{{ v.pk }}"  class ="btn btn-sm btn-warning font-weight-bold DeleteComment">{% trans "Delete" %}</button>
                                       <hr>
                                       </div>
                               {% endif %}
                         {% endif %}
                          {% endfor %}
                       <div class="pagination">
                        <span class="step-links">
                          {% if paginated_data.has_previous %}
                          <a href="?page={{ users.previous_page_number }}">{% trans "previous" %}</a>
                          {% endif %}

                          <!-- Showing the page numbers in Html Page -->
                          <span class="current">
                          Page {{ paginated_data.number }} of {{ paginated_data.paginator.num_pages }}.
                        </span>

                      {% if paginated_data.has_next %}
                      <a href="?page={{ paginated_data.next_page_number }}">{% trans "next" %}</a>
                      {% endif %}
                      </span>
                      </div>

            <!--This is end of paginated links-->
           {% endif %}

            <!-- Leave a encouraging message to leave review-->
           {% if  data_review|length == 0 and paginated_data|length == 0 %}
            <div class="mt-4">
            {% trans "This item has not yet been reviewed. Be the first to" %} <span  id="rev_this" ><a href="#"> {% trans "review this item" %} </a></span>
            </div>
          {% endif %}






        </div>
        <!--**************End of review comment*****************-->

      </div>
    </div>
  </div>


  <!-- start of similar books -->
  <div class="row">
    <div class="col-md-12">
      {% if object.get_similar_items %}
        {% if object.get_similar_items|length != 1%}
         <hr>
          <h5>{% trans "Similar Items You May Like" %}</h5>
        {% endif %}
      {% endif %}
    </div>
    {% for similar_object in object.get_similar_items %}
      {% if similar_object.pk != object.pk %}
        <a href="{{similar_object.get_absolute_url}} ">
    <div class="col-md-2 col-sm-6 col-6">
        <div class="grid-book-cont">
          <div class="img-cont">
            {% if similar_object.thumbnail  %}
            <img  src="{{ MEDIA_URL }}{{ similar_object.thumbnail }}"
                alt="{{ similar_object.title }}" title="{{ similar_object.title }}">
           {% else %}

            <!--<img  src="{% static 'images_new/book_thumnail.png' %}"-->
                <!--alt="{{ similar_object.title }}" title="{{ similar_object.title }}">-->
            {% if similar_object.type == "document"%}
            <img  src="{% static 'images_new/book_thumnail.png' %}"/>
           {% elif similar_object.type == "audio"%}
            <img  src="{% static 'images_new/audio_thumnail.png' %}"/>
           {% else %}
            <img  src="{% static 'images_new/video_thumnail.png' %}"/>
            {% endif %}
           {% endif %}

          </div>
          <p class="book-label text-capitalize"> <a href="{{similar_object.get_absolute_url}}">{{similar_object.title}}</p>
          <p class="book-type text-capitalize">
            {% if similar_object.type == "document" %}
            <i class="fa fa-book "></i>
              {% elif similar_object.type == "audio" %}
              <i class="fa fa-headphones"></i>
             {% else %}
                <i class="fa fa-video-camera"></i>
             {% endif %}
            &nbsp;{{similar_object.type}}</p>
        </div>
      </div>
    </a>
      {% endif %}



    {% endfor %}
  </div>
</div>





<!-- css scripts for book rating -->
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">

{% else  %}
  <div class="container">
  <div class="sad_container">

        <div class="sadface">
          <i class="fa fa-frown-o"></i>
        </div>
        <h5 style="font-family: 'Roboto Slab', serif;">{% trans "No results found"%}</h5>
        <br>
        <p>{% trans "The link is either broken or the item is not published yet" %}.</p>
    </div>
  </div>
{% endif  %}


{% endblock content %}




{% block script %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
{{ block.super }}
<script>
//script code here

</script>
<script type="text/javascript" src="{% static 'base_assets/js_new/document_detail.js' %}"></script>
<!-- script for seo -->
<script type='application/ld+json'>
  {
    "@context": "http://www.schema.org",
    "@type": "Book",
    "brand": "Document",
    "logo": "{{ MEDIA_URL }}{{ object.thumbnail }}",
    "name": "Pustakalaya",
    "author": "Manoj Gautam, Nishant Karki, Dilak Shakya"
    "category": "Books",
    "image": "{% static 'images_new/pustlogo.png' %}",
    "description": "{{object.title}}",
    "aggregateRating": {
      "@type": "aggregateRating",
      "ratingValue": "5",
      "reviewCount": "21"
    }
  }
   </script>


{% endblock script %}



