/*
 * Sidebar
 */

 .sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
 position: relative;
 top: 0;
 padding-top: .5rem;
 overflow-x: hidden;
 overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
 .sidebar-sticky {
   position: -webkit-sticky;
   position: sticky;
 }
}

.sidebar .nav-link {
 font-weight: 500;
 color: #333;
 font-size: 1rem;
}

.sidebar .nav-link .feather {
 margin-right: 4px;
 color: #999;
}

.sidebar .nav-link.active {
 background: #00BCD4;
 color: #fff !important;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
 color: inherit;
}

.sidebar-heading {
 font-size: .75rem;
 text-transform: uppercase;
}

/*
* Content
*/
/*
* Utilities
*/

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.dd-dash {
   background-color: #FFFCF5;
   border: 0 none;
   border-radius: 6px;
   display: block;
   margin-top: 10px;
   padding: 0px;
   position: absolute;
   display: none;
   z-index: 9000;
   filter: alpha(opacity=0);
   -webkit-box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1);
   box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1);
   right: 0;
   left: auto;
}

.dd-dash::before {
   border-bottom: 11px solid #FFFCF5;
   border-left: 11px solid transparent;
   border-right: 11px solid transparent;
   content: "";
   display: inline-block;
   position: absolute;
   right: 12px;
   top: -11px;
}

.dd-dash > li > a {
   color: #66615b;
   padding: 5px 10px;
   -webkit-transition: none;
   -moz-transition: none;
   -o-transition: none;
   -ms-transition: none;
   transition: none;
   display: block;

}

.dd-dash > li > a:hover, .dd-dash > li > a:focus {
   background-color: #00BCD4;
   color: rgb(255, 255, 255);
   opacity: 1;
   text-decoration: none;
}

.sidebar-sticky a{
 color: inherit !important;
}

.sidebar-sticky a:hover{
 color: #00BCD4 !important;
}