{% load i18n %}
<nav class="col-md-3 bg-light sidebar">
    <div class="sidebar-sticky">
      <h5 class="text-uppercase">{% trans "WELCOME" %} {{request.user}}</h5>
      <hr>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard">
            <i class="fa fa-home"></i>
            {% trans "Dashboard"%} <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:document_add' %}">
            <i class="fa fa-book"></i>
            {% trans "Add Document" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:audio_add' %}">
            <i class="fa fa-headphones"></i>
            {% trans "Add Audio" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:video_add' %}">
            <i class="fa fa-video-camera"></i>
            {% trans "Add Video" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/submission/list">
            <i class="fa fa-archive"></i>
            {% trans "My Submissions" %}
          </a>
        </li>
      </ul>

    </div>
  </nav>