{% extends 'dashboard/dashboard.html' %} {% load crispy_forms_tags %} {% load i18n %} {% block dashboard_content %}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %} {{ form | crispy }}
                <h3>{% trans "upload file" %}</h3>
                {{ inlines | crispy }}
               {% include "license_agreement.html" %}
                <input type="submit" value="Upload document" class="btn ole-btn">
            </form><br>

        </div>
    </div>
</div>
{% endblock dashboard_content %}
{% block script %}
{{ block.super }}
<script>

</script>
{% endblock %}
