{% extends "base.html" %} {% load static %} {% load i18n %}
{% load pustakalaya_filters %}
 {% block style %} {{block.super}}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">

{% endblock style %} {% block content %}
<div class="container">
  <div class="row">
    <!-- sidebar -->
    {% include 'dashboard/_partials/sidebar.html' %}

    <!-- main content area -->
    <main role="main" class="col-md-9 px-4">
      <div class="row">
        <div class="col-md-12 das-intro">

          {% include  'dashboard/settings.html' %}
        </div>
      </div>
      <hr>


      {% if messages %}

      <div class="alert alert-info alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

          {% for message in messages %}

          <p style="margin:none;" class="text-{% if message.tags %} {{ message.tags }} {% endif %}">{{ message }}</p>
        {% endfor %}

        </div>

      {% endif %}

      {% block dashboard_content %}


      <!--popular or featured item -->
      <h5 id="det-book-title">{% trans "Featured items" %}</h5>
      <div class="row">

            {% for doc in popular_documents %}
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="grid-book-cont">
                      <a href="{{doc.get_absolute_url}}">
                      <div class="img-cont">
                        {% if doc.thumbnail  %}
                        <img  src="{{ MEDIA_URL }}{{ doc.thumbnail }}"
                            alt="{{ doc.title }}" title="{{ doc.title }}">
                       {% else %}
                        {% if doc.type == "document"%}
                        <img  src="{% static 'images_new/book_thumnail.png' %}"/>
                       {% elif doc.type == "audio"%}
                        <img  src="{% static 'images_new/audio_thumnail.png' %}"/>
                       {% else %}
                        <img  src="{% static 'images_new/video_thumnail.png' %}"/>
                        {% endif %}
                       {% endif %}
                      </div>
                      <p class="book-label">
                        {{doc.title}}
                      </p>
                      </a>
                      <p class="book-type">
                          {% if doc.type == "document" %}
                          <i class="fa fa-book "></i>
                            {% elif doc.type == "audio" %}
                            <i class="fa fa-headphones"></i>
                           {% else %}
                              <i class="fa fa-video-camera"></i>
                           {% endif %}
                           {{doc.type}}
                           </p>

                      <div class="list-abstract text-secondary small-device-small-font " style="overflow-wrap: break-word;">The other little girl was prettier, but of a more stubborn type; more passionate, less organised, and infinitely
                        {{doc.abstract}}
                        <br>
                        <strong class="text-black">Views:</strong>
                        &nbsp;1
                      </div>

                      <a class="list-btn ole-btn" style="cursor:pointer;">Read</a>

                    </div>
                  </div>

            {% endfor %}

      </div>
      <br>
        <a href="/show_featured/" class="pull-right">See all</a>
      <br>
       <hr>




    {% if  favourite_documents %}
      <h5>{% trans "My favorites items" %}</h5>
      <div class="row">

          {% for doc in favourite_documents %}
              <div class="col-md-3 col-sm-6 col-6">
                <a href="{{doc.get_absolute_url}}">
                  <div class="grid-book-cont">

                    <div class="img-cont">
                      {% if doc.thumbnail  %}
                      <img  src="{{ MEDIA_URL }}{{ doc.thumbnail }}"
                          alt="{{ doc.title }}" title="{{ doc.title }}">
                     {% else %}
                      {% if doc.type == "document"%}
                      <img  src="{% static 'images_new/book_thumnail.png' %}"/>
                     {% elif doc.type == "audio"%}
                      <img  src="{% static 'images_new/audio_thumnail.png' %}"/>
                     {% else %}
                      <img  src="{% static 'images_new/video_thumnail.png' %}"/>
                      {% endif %}
                     {% endif %}
                    </div>

                    <p class="book-label">
                      {{doc.title}}
                    </p>
                    <p class="book-type">
                        {% if doc.type == "document" %}
                        <i class="fa fa-book "></i>
                          {% elif doc.type == "audio" %}
                          <i class="fa fa-headphones"></i>
                         {% else %}
                            <i class="fa fa-video-camera"></i>
                         {% endif %}
                         {{doc.type}}
                         </p>
                  </div>
                  </a>
                </div>

          {% endfor %}
      </div>
      <br>
      <a href="{% url 'dashboard:show_all_favourite' %}" class="pull-right">See all</a>

      {% comment %}
      <div class="row pull-left mt-4">
         <hr >
              <div class="pagination">
                <span class="step-links">

                  {% if favourite_documents.has_previous %}
                  <a href="?page={{ favourite_documents.previous_page_number }}" >previous</a>
                  {% endif %}

                  <!-- Showing the page numbers in Html Page -->
                  <span class="current">
                  Page {{ favourite_documents.number }} of {{ favourite_documents.paginator.num_pages }}.
                </span>

                {% if favourite_documents.has_next %}
                <a href="?page={{ favourite_documents.next_page_number }}">next</a>
                {% endif %}
                </span>
                </div>
      </div>
      {% endcomment %}

      <br>
      <hr>
      {% endif %}


      <!--for rated  item -->
      {% if  rated_item %}
      <h5>{% trans "My rated items" %}</h5>
      <div class="row">

          {% for doc in rated_item %}
              <div class="col-md-3 col-sm-6 col-6">
                <a href="{{doc.get_absolute_url}}">
                  <div class="grid-book-cont">

                    <div class="img-cont">
                      {% if doc.thumbnail  %}
                      <img  src="{{ MEDIA_URL }}{{ doc.thumbnail }}"
                          alt="{{ doc.title }}" title="{{ doc.title }}">
                     {% else %}
                      {% if doc.type == "document"%}
                      <img  src="{% static 'images_new/book_thumnail.png' %}"/>
                     {% elif doc.type == "audio"%}
                      <img  src="{% static 'images_new/audio_thumnail.png' %}"/>
                     {% else %}
                      <img  src="{% static 'images_new/video_thumnail.png' %}"/>
                      {% endif %}
                     {% endif %}
                    </div>

                    <p class="book-label">
                      {{doc.title}}
                    </p>
                    <p class="book-type">
                        {% if doc.type == "document" %}
                        <i class="fa fa-book "></i>
                          {% elif doc.type == "audio" %}
                          <i class="fa fa-headphones"></i>
                         {% else %}
                            <i class="fa fa-video-camera"></i>
                         {% endif %}
                         {{doc.type}}
                         </p>
                  </div>
                  </a>
                </div>
          {% endfor %}

      </div>
      <br>

        <a href="{% url 'dashboard:show_all_rated' %}" class="pull-right">See all</a>

      <br>
      <hr>
      {% endif %}

      <!--your reviewed item-->
       {% if  rated_item %}
      <h5>{% trans "My reviewed items" %}</h5>
      <div class="row">

      {% for doc in reviewed_item %}
          <div class="col-md-3 col-sm-6 col-6">
            <a href="{{doc.get_absolute_url}}">
              <div class="grid-book-cont">

                <div class="img-cont">
                  {% if doc.thumbnail  %}
                  <img  src="{{ MEDIA_URL }}{{ doc.thumbnail }}"
                      alt="{{ doc.title }}" title="{{ doc.title }}">
                 {% else %}
                  {% if doc.type == "document"%}
                  <img  src="{% static 'images_new/book_thumnail.png' %}"/>
                 {% elif doc.type == "audio"%}
                  <img  src="{% static 'images_new/audio_thumnail.png' %}"/>
                 {% else %}
                  <img  src="{% static 'images_new/video_thumnail.png' %}"/>
                  {% endif %}
                 {% endif %}
                </div>

                <p class="book-label">
                  {{doc.title}}
                </p>
                <p class="book-type">
                    {% if doc.type == "document" %}
                    <i class="fa fa-book "></i>
                      {% elif doc.type == "audio" %}
                      <i class="fa fa-headphones"></i>
                     {% else %}
                        <i class="fa fa-video-camera"></i>
                     {% endif %}
                     {{doc.type}}
                     </p>
              </div>
              </a>
            </div>
      {% endfor %}
      </div>
      <br>
        <a href="{% url 'dashboard:show_all_reviewed' %}" class="pull-right">See all</a>
      <br>
      <hr>
      {% endif %}


  {% endblock dashboard_content %}


  </main>
</div>
</div>

<script src="{% static '/dashboard/js/dashboard.js' %}" defer></script> {% endblock content %}
