{% extends "base.html" %} {% load static %} {% load i18n %}
 {% block style %} {{block.super}}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">

{% endblock style %} {% block content %}
<div class="container">
  <div class="row">
    <!-- sidebar -->
    {% include 'dashboard/_partials/sidebar.html' %}

    <!-- main content area -->
    <main role="main" class="col-md-9 px-4">
      <div class="row">
        <div class="col-md-12 das-intro">
          <div class="das-sett">
            <i class="fa fa-cog"></i>
            {% trans "Settings" %} &#9662;
            <ul class="dropdown-menu dd-dash" id="dashboard-setting">
              <li>
                <a class="text-capitalize" href="/dashboard/profile/edit/{{request.user.id}}">{% trans "edit profile" %}</a>
              </li>

              <li>
                <a class="text-capitalize" href="/accounts/password/change/">{% trans "change password" %}</a>
              </li>
              <li>
                <a class="text-capitalize" href="/accounts/email/">{% trans "manage email" %}</a>
              </li>
              <li>
                <a class="text-capitalize" href="/accounts/social/connections/">{% trans "Social accounts" %}</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <hr>


      {% if messages %}

      <div class="alert alert-info alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

          {% for message in messages %}

          <p style="margin:none;" class="text-{% if message.tags %} {{ message.tags }} {% endif %}">{{ message }}</p>
        {% endfor %}

        </div>

      {% endif %}

      {% block dashboard_content %}


      <h5 id="det-book-title">{% trans "Popular items" %}</h5>
      <div class="row">

            {% for doc in popular_documents %}
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="grid-book-cont">
                      <a href="{{doc.get_absolute_url}}">
                      <div class="img-cont">
                        {% if doc.thumbnail  %}
                        <img  src="{{ MEDIA_URL }}{{ doc.thumbnail }}"
                            alt="{{ doc.title }}" title="{{ doc.title }}">
                       {% else %}
                        {% if doc.type == "document"%}
                        <img  src="{% static 'images_new/book_thumnail.png' %}"/>
                       {% elif doc.type == "audio"%}
                        <img  src="{% static 'images_new/audio_thumnail.png' %}"/>
                       {% else %}
                        <img  src="{% static 'images_new/video_thumnail.png' %}"/>
                        {% endif %}
                       {% endif %}
                      </div>
                      <p class="book-label">
                        {{doc.title}}
                      </p>
                      </a>
                      <p class="book-type">
                          {% if doc.type == "document" %}
                          <i class="fa fa-book "></i>
                            {% elif doc.type == "audio" %}
                            <i class="fa fa-headphones"></i>
                           {% else %}
                              <i class="fa fa-video-camera"></i>
                           {% endif %}
                           {{doc.type}}
                           </p>

                      <div class="list-abstract text-secondary small-device-small-font " style="overflow-wrap: break-word;">The other little girl was prettier, but of a more stubborn type; more passionate, less organised, and infinitely
                        {{doc.abstract}}
                        <br>
                        <strong class="text-black">Views:</strong>
                        &nbsp;1
                      </div>

                      <a class="list-btn ole-btn" style="cursor:pointer;">Read</a>

                    </div>
                  </div>

            {% endfor %}




      </div>

      <hr>

      <h5 id="det-book-title">{% trans "Your Favorites" %}</h5>
      <div class="row">

          {% for doc in favourite_documents %}
              <div class="col-md-3 col-sm-6 col-6">
                  <div class="grid-book-cont">
                    <div class="img-cont">
                      {% if doc.thumbnail  %}
                      <img  src="{{ MEDIA_URL }}{{ doc.thumbnail }}"
                          alt="{{ doc.title }}" title="{{ doc.title }}">
                     {% else %}
                      {% if doc.type == "document"%}
                      <img  src="{% static 'images_new/book_thumnail.png' %}"/>
                     {% elif doc.type == "audio"%}
                      <img  src="{% static 'images_new/audio_thumnail.png' %}"/>
                     {% else %}
                      <img  src="{% static 'images_new/video_thumnail.png' %}"/>
                      {% endif %}
                     {% endif %}
                    </div>
                    <p class="book-label">
                      <a href="{{doc.get_absolute_url}}">{{doc.title}}</a>
                    </p>
                    <p class="book-type">
                        {% if doc.type == "document" %}
                        <i class="fa fa-book "></i>
                          {% elif doc.type == "audio" %}
                          <i class="fa fa-headphones"></i>
                         {% else %}
                            <i class="fa fa-video-camera"></i>
                         {% endif %}
                         {{doc.type}}
                         </p>
                  </div>
                </div>

          {% endfor %}
    </div>

  </div>


  {% endblock dashboard_content %}


  </main>
</div>
</div>

<script src="{% static '/dashboard/js/dashboard.js' %}" defer></script> {% endblock content %}
